
{% extends 'blog/base.html' %}
{% load bootstrap_icons %}

{% block title %}
    Event Detail
{% endblock %}

{% block content %}

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-3">
            <!--Enroll & Drop Button-->
            {% if user.is_authenticated %}
                    {% include 'includes/enroll_drop.html' with course=course %}
                  
            {% endif %}

            <!-- Lecture List -->
            {% include 'includes/sidebar.html' with course=course page="case" %}
        </div>

        <!--Quiz Content-->
        <div class="col-sm-6">
            <div class="col-sm">
                {% if user in course.collaborative_members.all or user == course.user %}
                    <a href="{% url 'case_create' title=course.title %}"  class="btn btn-primary">Create Case-Study</a>
                {% endif %}
            </div>
            {% if course.case_list.all != null %}
           <br><br>
            {% bs_icon 'envelope-open' size='1em' %} <a href = "#">Newly Opened Cases</a>
                    {% for case in course.case_list.all %}
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url 'case_detail' title=case.title %}" class="post-text" style="text-decoration:none"> Case: {{case.title}}</a>
                        <p>Published date: {{case.published_date}}</p>
                        <p>Created by: <a href="{% url 'other_user_profile' name=course.user %}">{{case.user}}</p></a>
                    </li> 
                    {% endfor %}
            <br><br>
            {% bs_icon 'folder2-open' size='1em' %}<a href = "#">Cases In-progess</a> 
                {% for case in course.case_list.all %}
                <li class="list-group-item list-group-item-action">
                    <a href="{% url 'case_detail' title=case.title %}" class="post-text" style="text-decoration:none"> Case: {{case.title}}</a>
                    <p>Due date: {{case.due_date}}</p>
                    <p>Created by: <a href="#">{{case.user}}</p></a>
                </li> 
                {% endfor %}    
            <br><br>
            {% bs_icon 'archive' size='1em' %} <a href = "#">Cases Closed</a> 
                {% for case in course.case_list.all %}
                <li class="list-group-item list-group-item-action">
                    <a href="{% url 'case_detail' title=case.title %}" class="post-text" style="text-decoration:none"> Case: {{case.title}}</a>
                    <p>Grade: {{case.case_grade}}</p>
                    <p>Created by: <a href="#">{{case.user}}</p></a>
                </li> 
                {% endfor %}
            {% endif %}
        </div>

        
        <!--Course Block: Course2 Template-->
        <div class="col-sm-3">
            {% include 'includes/course2.html' with course=course select="course" %}
        </div>
    </div> 
</div>

{% endblock %}