{% extends 'blog/base.html' %}

{% block title %}
    Event Detail
{% endblock %}

{% block content %}

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-3">
            <!--Enroll & Drop Button-->
            {% if user.is_authenticated %}
                    {% include 'includes/enroll_drop.html' with course=course %}
            {% endif %}

            <!-- Lecture List -->
            {% include 'includes/sidebar.html' with course=course page="case" %}

            <div class="text-end mt-3">
                {% if user in course.collaborative_members.all or user == course.user %}
                    <a href="{% url 'case_create' title=course.title %}"  class="btn btn-primary">Create Case-Study</a>
                {% endif %}
            </div>

        </div>

        <!--Quiz Content-->
        <div class="col-sm-6">
            Case content will be displayed here.!!!
        </div>

        
        <!--Course Block: Course2 Template-->
        <div class="col-sm-3">
            {% include 'includes/course2.html' with course=course select="course" %}
        </div>
    </div> 
</div>

{% endblock %}