{% extends 'blog/base.html' %}


{% block title %}
Space Detail
{% endblock %}

{% block content %}



<div class="container-fluid" style="margin-top: 10px;">

  <div class="row">
    <div class="col-sm-9">
      <div class="card" style="width: 18rem;">
        {% load static %}
        <img src="{% static %}userprofile\templates\userprofile\icons\bell.png" class="card-img-top"></img>
        <div class="card-body">
          <h5 class="card-title">Space Resources</h5>
          <p class="card-text">Articles, Videos and all contents.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


    </div>



    <div class="col-sm-3">
      {% include 'includes/course2.html' with course=course select='course' %}
    </div>



  </div>
</div>

{% endblock %}