{% extends 'blog/base.html' %}


{% block title %}
    Edit Space
{% endblock %}

{% block content %}

    <h2>Create New Space</h2>
    <form method="POST" class="question-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <button type="submit" class="save btn btn-success">Post</button>
        {% if title != "none" %}
        <a class="btn btn-outline-danger" href="{% url 'delete_course' title=title %}">Delete Space</a>
        {% endif %}
    </form>
  
   
{% endblock %}