{% extends 'blog/base.html' %}

{% block title %}
    Event Detail
{% endblock %}

{% block content %}

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-3">
            <!--Enroll & Drop Button-->
            {% if user.is_authenticated %}
                    {% include 'includes/enroll_drop.html' with course=course %}
            {% endif %}

            <!-- Lecture List -->
            {% include 'includes/sidebar.html' with course=course page="event" %}
            <div class="text-end mt-3">
                <a class="btn btn-primary" href="{% url 'event_new' title=course.title %}">Create Event</a>
            </div>
        </div>

        <!--Event Content-->
        <div class="col-sm-6">
                {% for event in event_list %}
                    {% include 'includes/event.html' with event=event course=course %}
                {% endfor %}
        </div>

        <!--Course Block: Course2 Template-->
        <div class="col-sm-3">
            {% include 'includes/course2.html' with course=course select="course" %}
        </div>
    </div> 
</div>

{% endblock %}