{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Event Create
{% endblock %}

{% block content %}
<div class="w-50 mt-2">
    <form method="POST" class="question-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <button type="submit" class="save btn btn-success mt-4">Post</button>
        {% if title != "none" %}
        <a class="btn btn-outline-danger mt-4" href="#">Delete Activity</a>
        {% endif %}
    </form>
</div>
{% endblock %}