{% extends 'blog/base.html' %}

{% block title %}
    Event Detail
{% endblock %}

{% block content %}

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-3">
            <!--Enroll & Drop Button-->
            {% if user.is_authenticated %}
                    {% include 'includes/enroll_drop.html' with course=course %}
            {% endif %}

            <!-- Lecture List -->
            {% include 'includes/sidebar.html' with course=course page="event" %}
            <div class="text-end mt-3">
                <a class="btn btn-primary" href="{% url 'event_new' title=course.title %}">Create Event</a>
            </div>
        </div>

        <!--Event Content-->
        <div class="col-sm-9">
            <form class="form-inline my-2 my-lg-0" method=POST action="{% url 'search_event' title=course.title %}" style="margin:15px;padding-top: 20px;">
                {% csrf_token %}
                <input class="form-control mr-sm-2" style="width:250px; float:left; margin-right:10px" type="search"  placeholder="Search" aria-label="Search" name="searched"> 
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% for event in event_list %}
                {% include 'includes/event.html' with event=event course=course %}
            {% endfor %}
        </div>

    </div> 
</div>

{% endblock %}