{% extends 'blog/base.html' %}

{% block title %}
    Course Detail
{% endblock %}

{% block content %}


    <div class="container-fluid" style="margin-top: 10px;">
        <div class="row">
            <div class="col-sm-3">
                <!--Enroll & Drop Button-->
                {% if user.is_authenticated %}
                    {% for course in course %}
                        {% include 'includes/enroll_drop.html' with course=course %}
                         <!-- Create New Lecture -->
                         {% if user in course.collaborative_members.all or user == course.user %}

                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{% url 'lecture_new' pk=course.pk %}" type="button" class="btn btn-primary">Create Content</a>
                                <a href="{% url 'quiz_create' title=course.title %}" class="btn btn-primary">Create Quiz</a>
                                <a href="#"  class="btn btn-primary">Create Case-Study</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

               

                <!-- Lecture List -->
                {% for course in course %}
                    {% include 'includes/lecture.html' with course=course quiz_list=course.question_list.all %}
                {% endfor %}
            </div>

            <!--Lecture Content-->
            <div class="col-sm-6">
                {{lecture.content}}
            </div>

            <!--Course Block: Course2 Template-->
            <div class="col-sm-3">
                {% for course in course %}
                    {% include 'includes/course2.html' with course=course select="course" %}
                {% endfor %}
            </div>
        </div> 
    </div>
{% endblock %}
