{% extends 'blog/base.html' %}

{% block title %}
    Event Detail
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <!--Enroll & Drop Button-->
            {% if user.is_authenticated %}
                    {% include 'includes/enroll_drop.html' with course=course %}
            {% endif %}

            <!-- Lecture List -->
            {% include 'includes/sidebar.html' with course=course page="event" %}
            <div class="text-end mt-3">
                <a class="btn btn-primary" href="{% url 'event_new' title=course.title %}">Create Event</a>
            </div>
        </div>

        <!--Event Content-->
        <div class="col-sm-9">
            <div class="row d-flex align-items-center">
                <div class="col-sm-7">
                </div>

                <!-- search by keyword -->
                <div class="col-sm-3">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'event_list' title=course.title %}" >
                        {% csrf_token %}
                        {{ form_input.as_p}}
                        <input class="form-control mr-sm-2" type="search"  placeholder="Search" aria-label="Search" name="searched"> 
                    </form>        
                </div>

                <!-- filtering by category -->
                <div class="col-sm-2">
                    <form action="{% url 'event_list' title=course.title %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>        
                </div>
            </div>

           <div class="row">
            <div class="d-inline-flex flex-wrap">
                {% for event in events %}
                    {% include 'includes/event.html' with event=event course=course %}
                {% endfor %}
            </div>    
           </div>

           <div class="row">
            <div class="pagination">
                <span class="step-links">
                    {% if events.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ events.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ events.number }} of {{ events.paginator.num_pages }}.
                    </span>
            
                    {% if events.has_next %}
                        <a href="?page={{ events.next_page_number }}">next</a>
                        <a href="?page={{ events.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
           </div>
        </div>
    </div> 
</div>

{% endblock %}