{% extends 'blog/base.html' %}

{% block title %}
    Myspace
{% endblock %}

{% block content %}

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <!--List Courses-->
        <div class="col-sm-9">
            {% if not post.answers.all %}
                {% for course in courses %}
                    {% include 'includes/course.html' with course=course %}
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="col-sm-3">
           
            {% include 'includes/profile.html' with user_profile=user_profile %}

            {% if user == user_profile.user %}

                <div style="padding-top: 20px;text-align:center">
                    <a class="btn btn-success" href="{% url 'course_new' %}" role="button">Create New Course!</a>
                </div>

                <div style="display: flex; justify-content: center; margin-top: 10px;">
                    <a class="btn btn-secondary" href="{% url 'profile_edit' pk=user_profile.pk %}">Edit Profile</a>
                </div>

            {% endif %}


        </div>
    </div>
  
    
</div>

{% endblock %}