{% extends 'blog/base.html' %}

{% block title %}
    Helloworld - Questions
{% endblock %}

{% block content %}


<div class="container bootstrap snippets bootdey">
  <div class="row">
      <div class="post-list">
          <div class="row">
            <div class="col-sm-1">
                <div class="d-flex flex-start align-items-center">

                  {% if question.userProfileImg %}
                    <img class="rounded-circle shadow-1-strong me-3"
                    src="{{question.userProfileImg.url}}" alt="avatar" width="60"
                    height="60" />
                 {% else %}
                    <img class="rounded-circle shadow-1-strong me-3"
                    src="http://cdn.onlinewebfonts.com/svg/img_24787.png" alt="avatar" width="60"
                    height="60" />
                  {% endif %}
                </div>
              </div>
            <div class="col-sm-9">
                  {% if user == question.user %}
                    <a href="{% url 'user_profile' %}" class="post-author" style="font-family: 'Poppins';font-size:18px; font-weight: 600px; margin-right:5px">{{question.user}}</a>
                  {% else %}
                    <a href="{% url 'other_user_profile' name=question.user %}" class="post-author" style="font-family: 'Poppins';font-size:18px; font-weight: 600px; margin-right:5px">{{question.user}}</a>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <a href="#" class="link-success" style="font-family: 'Poppins';font-style: normal;font-weight: 800;font-size: 16px;">Follow</a>
                  {% endif %}
              </div>
            <div class="col-sm-2">
                {% if question.published_date %}
                  <date class="date">
                    {{ question.published_date }}
                  </date>
                {% endif %}
           </div>
          </div>
          <div class="row">
                <aside class="actions">
                  <a href="#" class="post-title">{{ question.title }}</a>
                  {% if user.is_authenticated and user == question.user %}
                      <a class="btn btn-secondary btn-sm" href="#">
                          {% include './icons/pencil-fill.svg' %}
                      </a>
                  {% endif %}
                </aside>
                <p class="post-text">{{question.text | safe}}</p>    
          </div>
          <div class="row", style="padding: 4px; background: rgba(196, 196, 196, 0.22); margin-top:5px" >
            <!--Like Button-->
            <div class="col-sm-1 col-lg-1 col-xl-1">
                <form action="#" method="POST">
                    {% csrf_token %}
                        <button type="submit", name="post_id", value="{{question.id}}", class="btn btn-outline-primary btn-sm" >Like</button>
                        <p style="display: inline; font-weight: bold;">{{question.total_likes}}</p>
                </form>
            </div>
            <!--Disike Button-->
            <div class="col-sm-1 col-lg-1 col-xl-1">
                <form action="#" method="POST">
                    {% csrf_token %}
                        <button type="submit", name="post_id", value="{{question.id}}", class="btn btn-outline-warning btn-sm" >Dislike</button>
                        <p style="display: inline; font-weight: bold;">{{question.total_dislikes}}</p>
                </form>
            </div>
            <!--Comment Button-->
            <div class="col-sm-2 col-lg-2 col-xl-2">
                <a class="btn btn-outline-secondary btn-sm"  href="#" role="button">Comment</a>
                <p style="display: inline; font-weight: bold;">{{question.space_question_answer.count}}</p>
            </div>
            <div class="col-sm-8 col-lg-8 col-xl-8" style="display: flex; justify-content: flex-end">
              {% for tag in question.tags.all  %}                     
                <a href="#" type="button" class="btn btn-outline-dark btn-sm" style="margin-left:10px"> #{{tag}}</a>
              {% endfor %}
            </div>
          </div>              
        </div>
</div>


{% endblock %}
