{% extends 'blog/base.html' %}

{% block title %}
    Event Detail
{% endblock %}

{% block content %}

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-3">
            <!--Enroll & Drop Button-->
            {% if user.is_authenticated %}
                    {% include 'includes/enroll_drop.html' with course=course %}
            {% endif %}

            <!-- Lecture List -->
            {% include 'includes/sidebar.html' with course=course page="quiz" %}

            <div class="text-end mt-3">
                {% if user in course.collaborative_members.all or user == course.user %}
                    <a href="{% url 'quiz_create' title=course.title %}" class="btn btn-primary">Create Quiz</a>
                {% endif %}
              </div>
        </div>

        <!--Quiz Content-->
        <div class="col-sm-6">
            {% for quiz in course.question_list.all %}
                <div class="border border-black p-2 m-2">
                    <a href="{% url 'quiz_detail' title=quiz.title %}" style="font-size: 20px; font-weight: bolder; text-decoration: none; color: black">{{quiz.title}}</a>
                    {% for score in quiz.score_list.all %}
                    <li> 
                        {% if score.user == user %}
                            <a href="{% url 'user_profile' %}" class="post-author" style="font-family: 'Poppins';font-size:18px; font-weight: 600px; margin-right:5px">{{score.user}}</a>
                        {% else %}
                            <a href="{% url 'other_user_profile' name=course.user %}" class="post-author" style="font-family:'Poppins';font-size:18px; font-weight: 600px; margin-right:5px">{{score.user}}</a>
                        {% endif %}
                        - {{score.score}}
                    </li> 
                    {% endfor %}
                </div>

            {% endfor %}
        </div>

        
        <!--Course Block: Course2 Template-->
        <div class="col-sm-3">
            {% include 'includes/course2.html' with course=course select="course" %}
        </div>
    </div> 
</div>

{% endblock %}