{% extends 'blog/base.html' %}
{% load bootstrap_icons %}


{% block title %}
    Helloworld - Activity
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      <a class="btn btn-success" href="{% url 'activity_new' %}">Create New Activity</a>
      {% for a in activity %}
        <div class="card" style="width: 18rem; float:left; margin:10px">
          <div class="card-body"> 
            {% if user == a.user %}
              <a href="{% url 'activity_edit' pk=a.pk %}" style="text-decoration:none; ">Edit</a>
            {% endif %}
            <h5 class="card-title">{% bs_icon 'calendar' size='1.5em' %} {{a.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{a.start_time|date:"M d, Y" }}</h6>
            <p class="card-text">{{a.description}}</p>
            <a href="{% url 'activity_enroll' pk=a.pk %}" class="card-link">Join</a> | <strong>People:</strong>{{a.enrolled_users.count}}
          </div>
        </div>
      {% endfor %}
    </div>
</div>



{% endblock %}


{% block script %}


{% endblock %}
