{% extends 'blog/base.html' %}

{% block title %}
    Quiz
{% endblock %}

{% block content %}
<div class="jumbotron container row">
    <div class="col-md-6">
        <h1>Add Question</h1>
        <div class="card card-body">
           <form action="" method="POST">
              {% csrf_token %}
                {{form.as_p}}
                <br>
                <button type="submit" class="save btn btn-success" name="Submit">Ask</button>
            </form>
            </div>
        </div>
    </div>
 
</div>

{% endblock %}