{% extends 'blog/base.html' %}

{% block title %}
    Create New Case Study
{% endblock %}

{% block content %}
<div class="jumbotron container row">

    <!--Page Navigation-->
    <h5> Space: <a href="{% url 'course_detail' title=course.title %}"> {{course.title}} </a> > Case Page </h5>
    <br><br>

    <p class="post-title">Title of the case study: <light style = "color: brown;">"{{case.title}}"</light></p>
    <p>has opened by {{case.user}}</light></p>
    <br><br>
    <hr>
    <strong>Description: </strong>
    <p class = "post-text">{{case.description | safe}}</p>
    <hr>
    {% if user in case.user %}
    <p class="post-author"> Upload Your Work:</p>
        <form method="POST" class="post-form" enctype="multipart/form-data">  
            {% csrf_token %}  
            {{form.as_p}}
            <button type="submit" class="save btn btn-success">Submit</button>  
            <hr>
        </form>
    {% endif %}
    <div>
      <a href="#" class="btn btn-warning">Update</a>
      <a href="{% url 'delete_submission' title=case.title %}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}