
{% extends 'blog/base.html' %}

{% block title %}
    Create New Case Study
{% endblock %}

{% block content %}
<div class="jumbotron container row">

    <!--Page Navigation-->
    <h5> Space: <a href="{% url 'course_detail' title=course.title %}"> {{course.title}} </a> > Case Page </h5>
    <br><br>

    <p class="post-title">Title of the case study: <light style = "color: brown;">"{{case.title}}"</light></p>
    <p>has opened by {{case.user}}</light></p>
    {% if user == case.user %}
      {% if case.get_remaining_days > -10 %}
      <div>
        <a href="{% url 'case_edit' title=case.title %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'case_delete' title=case.title %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'case_grade' title=case.title %}" class="btn btn-outline-primary">Ratings</a>
        <a href="{% url 'submit_assignment' title=case.title %}" class="btn btn-outline-success">Upload Your Work</a>
      </div>
      {% else %}
      <div>
        <a href="{% url 'case_grade' title=case.title %}" class="btn btn-outline-primary">Ratings</a>
      </div>
      {% endif %}
    {% endif %}
    <br><br>
    <hr>
    <strong>Description: </strong>
    <p class = "post-text">{{case.description | safe}}</p>
</div>
<div class = "container">
  <div class = "row">
      <div class = "mx-auto">
          <!--Display comment-->          
          <div class = "row mt-5">
            <div class = "col-lg-6">
              {% if not case.comments.all %}
              No comments yet
              {% else %}
              Comment {{ comment.count | pluralize }}
              {% endif %}
            </div>
          {% for comment in case.comments.all %}
          <div class = "col-lg-8 mt-4">
            <div class = card>
              <div class = "row">
                {% if comment.authorProfileImg %}
                <div class = "col-8">
                  <img class="rounded-circle shadow-1-strong me-3" src="{{enrolled_user.userProfileImg.url}}" alt="avatar" width="60" height="60" />                  
                  <strong>{{ comment.author }}</strong> <i>said</i>
                </div>
                {% else %}
                <div class = "col-8">
                  <img class="rounded-circle shadow-1-strong me-3" src="http://cdn.onlinewebfonts.com/svg/img_24787.png" alt="avatar" width="60" height="60" />                 
                  <strong>{{ comment.author }}</strong> <i>said</i>
                </div>
                {% endif %}
                <div class = "col-12">
                  <p class = "mt-2 mt-3">{{ comment.body }}</p>
                  <p class = "text-right text-muted"><small>{{ comment.published_date}}</small></p>
                </div>
                <!--Like Button-->
                <!-- <div class="col-sm-1 col-lg-1 col-xl-1">
                  <form action="" method="POST">
                      {% csrf_token %}
                          <button type="submit", name="post_id", value="", class="btn btn-outline-primary btn-sm" >Like</button>
                          <p style="display: inline; font-weight: bold;">{{comment.total_likes}}</p>
                  </form>
                </div>
                <br> -->
                <!--Disike Button-->
                <!-- <div class="col-sm-1 col-lg-1 col-xl-1">
                  <form action="" method="POST">
                      {% csrf_token %}
                          <button type="submit", name="post_id", value="", class="btn btn-outline-warning btn-sm" >Dislike</button>
                          <p style="display: inline; font-weight: bold;">{{comment.total_dislikes}}</p>
                  </form>
                </div> -->
                <br>
                <!--Comment Edit-->
               
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
          <br>
          <!--Display form-->
          <div class="row mt-7">
            <div class="col-lg-8">
              <h3>Leave a comment</h3>
              <form method='POST'>
                {% csrf_token %}
                <div class="form-group">
                  <span class="ml-2"></span>
                  <textarea class="form-control {% if form.content.errors %}is-invalid{% endif %}" id="id_content"
                    name="content" rows="4">{{ form.content.value|default:'' }}</textarea>
                </div>
                <button class="btn btn-primary mt-2 ml-3" type="submit">Submit</button>
              </form>
            </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}