{% extends 'blog/base.html' %}

{% block title %}
    Event Detail
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <!--Enroll & Drop Button-->
            {% if user.is_authenticated %}
                    {% include 'includes/enroll_drop.html' with course=course %}
            {% endif %}

            <!-- Lecture List -->
            {% include 'includes/sidebar.html' with course=course page="event" %}
            <div class="text-end mt-3">
                <a class="btn btn-primary" href="{% url 'event_new' title=course.title %}">Create Event</a>
            </div>
        </div>

        <!--Case Content-->


        <div class="col-sm-9">

            <div class="row d-flex align-items-center">

                <div class="col-sm-5">

                </div>

                <!-- search by keyword -->
                <div class="col-sm-3">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'event_list' title=course.title %}" >
                        {% csrf_token %}
                        {{ form_input.as_p}}
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searched"> 
                    </form>        
                </div>
            </div>
           <div class="row">
            <div class="d-inline-flex flex-wrap">
                <br><br>
            {% bs_icon 'envelope-open' size='1em' %} <a href = "{% url 'new_cases' title=case.title %}">Newly Opened Cases</a>
                {% for case in course.case_list.all %}
                    {% if case.publish_date_check %}
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url 'case_detail' title=case.title %}" class="post-text" style="text-decoration:none"> Case: {{case.title}}</a>
                        <p>Published date: {{case.published_date}}</p>
                        <p>Created by: <a href="{% url 'other_user_profile' name=case.user %}">{{case.user}}</p></a>
                    </li> 
                    {% endif %}
                {% endfor %}
            <br><br>
            {% bs_icon 'folder2-open' size='1em' %}<a href = "#">Cases In-progess</a> 
                {% for case in course.case_list.all %}
                    {% if case.get_remaining_days %}
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url 'case_detail' title=case.title %}" class="post-text" style="text-decoration:none"> Case: {{case.title}}</a>
                        <p>Due date: {{case.due_date}}</p>
                        <p>Created by: <a href="#">{{case.user}}</p></a>
                    </li> 
                    {% endif %}
                {% endfor %}    
            <br><br>
                {% if 0 > case.get_remaining_days and case.averageview > 80 %}  
                    {% bs_icon 'archive' size='1em' %} <a href = "#">Cases Closed</a> 
                        {% for case in course.case_list.all %}
                            <li class="list-group-item list-group-item-action">
                                <a href="{% url 'case_detail' title=case.title %}" class="post-text" style="text-decoration:none"> Case: {{case.title}}</a>
                                <p>Rating: {{case.score}}</p>
                                <p>Created by: <a href="#">{{case.user}}</p></a>
                            </li> 
                    {% endfor %}
                {% endif %}    
            {% endif %}
     
            </div>    
           </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if events.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" tabindex="-1">&laquo; First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ events.previous_page_number }}" tabindex="-1">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                    
                    <li class="page-item"><a class="page-link text-dark" >Page {{ events.number }} of {{ events.paginator.num_pages }}</a></li>
            

                    {% if events.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ events.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ events.paginator.num_pages }}">Last &raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Last</a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>

            </div>
            
        </div>

    </div> 
</div>

{% endblock %}