{% extends 'blog/base.html' %}

{% block title %}
    Helloworld - Quiz
{% endblock %}

{% block content %}
    <div class="container ">

        <!--Page Navigation-->
        <h5> <a href="{% url 'course_detail' title=course.title %}"> Space: {{course.title}} </a> 
            > 
            <a href="{% url 'quiz_page' title=course.title %}" > Quiz Page</a> 
        </h5>


        {% if user in course.collaborative_members.all or user == course.user %}
            <!--Quiz Settings-->
            <div class="btn-group mt-3" role="group" aria-label="Basic example">
                <!--Delete Quiz-->
                <a class="btn btn-outline-danger" href="{% url 'quiz_delete' title=quiz.title %}">Delete Quiz</a>
                <!--Add Question-->
                <a class="btn btn-outline-primary" href="{% url 'question_add' title=quiz.title %}">Add Question</a>
            </div>
        {% endif %}

        <!--Question Form-->
        <form method='post' action=''>
            {% csrf_token %}
            {% for q  in questions %}

                <!--Question-->
                <div class="form-group">
                <label for="question">{{q.question}}</label>
                </div>

                <!--Answers-->
                <div class="form-check">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            {{q.op1}}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            {{q.op2}}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option3">
                        <label class="form-check-label" for="gridRadios1">
                            {{q.op3}}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option4">
                        <label class="form-check-label" for="gridRadios2">
                            {{q.op4}}
                        </label>
                    </div>
                    <br>
                </div>    
            {% endfor %}

            <br>
            <!--Submit Button-->
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        
    </div>

{% endblock %}