{% extends 'blog/base.html' %}

{% block title %}
    Search Results - Case Studies
{% endblock %}

{% block content %}

    <h2>Search Results</h2>
    <hr>
    {% if searched %}
        You searched for {{searched}}

        <ul class="list-group">
        <br>
        {% for result in results %}
            <li class="list-group-item"><a href="{% url 'case_detail' title=result.title %}" class="post-title">{{result}}</a></li>
        {% endfor %}

        </ul>
    {% else %}
        Hey! You forgot to search!
    {% endif %}
 
    
{% endblock %}