{% extends 'blog/base.html' %}


{% block title %}
    Helloworld - Home
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row"> 
            <div class="col-sm-6">
                <form class="form-inline my-2 my-lg-0" method=POST action="{% url 'search_course' %}" style="margin:15px;padding-top: 20px;">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" style="width:250px; float:left; margin-right:10px" type="search"  placeholder="Search" aria-label="Search" name="searched"> 
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-sm-6">
                <h4>Common Tags:</h4>
                {% for tag in common_tags %}
                    <a href="{% url 'course_tag_detail' tag=tag %}" type="button" class="btn btn-outline-dark btn-sm" style="margin-left:10px"> #{{tag}}</a>
                {% endfor %}
            </div>
        </div>
        
        <div class="row card-deck">
            {% for course in courses %}
                {% include 'includes/course2.html' with course=course select="home" %}
            {% endfor %}
        </div>
        <div class="row"> 
        <div class="col-sm-4">
            <h4 class="block">New Quizes</h4>
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th scope="col" >Quiz</th>
                    <th scope="col" >Created On</th>
                    <th scope="col" >Learning Space</th>
                </tr>
                </thead>
                
                <tbody>
                      {% for quiz in quizes %}
                        <tr>
                          <td scope="row"> <a href="{% url 'quiz_detail' title=quiz.title %}"> {{ quiz.title }} </a></td>
                          <td scope="row"> {{ quiz.timestamp }} </td>
                          <td scope="row"><a href="{% url 'course_detail' title=quiz.course.title %}">{{quiz.course.title}}</a></td>
                        </tr>
                      {% endfor %}
                  </tbody>

            </table>
        </div>
        <div class="col-sm-4" >
            <h4 class="block">This Week</h4>
            <h6 class="block"> {{ num_of_users }} Users Joined</h6>
            <h6 class="block"> {{ num_of_courses }} Learning Space Created</h6>

        </div>
        <div class="col-sm-4">
            <h4 class="block">New Case Studies</h4>
            <table class="table table-striped" >
              <thead>
              <tr>
                  <th scope="col" >Case Study</th>
                  <th scope="col" >Created On</th>
                  <th scope="col" >Learning Space</th>
              </tr>
              </thead>
              
              <tbody>
                {% for case in cases %}
                <tr>
                  <td scope="row"> <a href="{% url 'event_list' title=case.title %}"> {{ case.title }} </a></td>
                  <td scope="row"> {{ case.published_date }} </td>
                  <td scope="row"><a href="{% url 'event_list' title=case.course.title %}">{{case.course.title}}</a></td>
                </tr>
              {% endfor %}
                </tbody>

          </table>
        </div>
    </div>
    </div>
{% endblock%}