{% extends 'blog/base.html' %}


{% block title %}
    Helloworld - Home
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row"> 
            <div class="col-sm-6">
                <form class="form-inline my-2 my-lg-0" method=POST action="{% url 'search_course' %}" style="margin:15px;padding-top: 20px;">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" style="width:250px; float:left; margin-right:10px" type="search"  placeholder="Search" aria-label="Search" name="searched"> 
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-sm-6">
                <h4>Common Tags:</h4>
                {% for tag in common_tags %}
                    <a href="{% url 'course_tag_detail' tag=tag %}" type="button" class="btn btn-outline-dark btn-sm" style="margin-left:10px"> #{{tag}}</a>
                {% endfor %}
            </div>
        </div>
        
        <div class="row card-deck">
            {% for course in courses %}
                {% include 'includes/course2.html' with course=course select="home" %}
            {% endfor %}
        </div>
    </div>
{% endblock%}