{% extends 'blog/base.html' %}


{% block title %}
    Helloworld - Home
{% endblock %}

{% block content %}

    <div class="modal-footer"> 
        <h4>Common Tags:</h4>
        {% for tag in common_tags %}
            <a href="{% url 'course_tag_detail' tag=tag %}" type="button" class="btn btn-outline-dark btn-sm" style="margin-left:10px"> #{{tag}}</a>
        {% endfor %}
    </div>
    <div class="card-deck">
        {% for course in courses %}
            {% include 'includes/course2.html' with course=course select="home" %}
        {% endfor %}
    </div>

{% endblock%}