<!DOCTYPE html>
<html>
    <head>
        <title>Kardelen's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Welcome to My Blog!</a></h1>
        </header>

        
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}

        
    </body>
</html>