{% extends 'blog/base.html' %}

{% block title %}
    Helloworld - Questions
{% endblock %}

{% block content %}


<!-- Search and create new question button-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <form class="form-inline my-2 my-lg-0" method=POST action="{% url 'search_question' %}" style="margin:15px;padding-top: 20px;">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" style="width:250px; float:left; margin-right:10px" type="search"  placeholder="Search" aria-label="Search" name="searched"> 
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            {% if user.is_authenticated %}
                <div class="col-sm-3" style="padding-top: 20px;">
                    <a class="btn btn-success" href="{% url 'question_new' %}" role="button">Ask A Question!</a>
                </div>
            {% endif %}
               
        </div>
        <div class="row" style="margin-top:10px">
            <div class="modal-footer"> 
                <h4>Common Tags:</h4>
                {% for tag in common_tags %}
                    <a href="{% url 'question_tag_detail' tag=tag %}" type="button" class="btn btn-outline-dark btn-sm" style="margin-left:10px"> #{{tag}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
 
<!--Questions are listed-->
    {% for post in posts %}
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="post-list">
                    <div class="row">
                        <!--Profile Picture-->
                        <div class="col-sm-1">
                            <div class="d-flex flex-start align-items-center">
                                {% if post.userProfileImg %}
                                    <img class="rounded-circle shadow-1-strong me-3"
                                    src="{{post.userProfileImg.url}}" alt="avatar" width="60"
                                    height="60" />
                                {% else %}
                                    <img class="rounded-circle shadow-1-strong me-3"
                                    src="http://cdn.onlinewebfonts.com/svg/img_24787.png" alt="avatar" width="60"
                                    height="60" />
                                {% endif %}
                            </div>
                        </div>
                        <!--Author name & Follow Link-->
                        <div class="col-sm-9">
                            {% if user == post.author %}
                                <a href="{% url 'user_profile' %}" class="post-author" style="font-family: 'Poppins';font-size:18px; font-weight: 600px; margin-right:5px">{{post.author}}</a>
                            {% else %}
                                <a href="{% url 'other_user_profile' name=post.author %}" class="post-author" style="font-family: 'Poppins';font-size:18px; font-weight: 600px; margin-right:5px">{{post.author}}</a>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <a href="#" class="link-success" style="font-family: 'Poppins';font-style: normal;font-weight: 800;font-size: 16px;">Follow</a>
                            {% endif %}
                        </div>
                        <!--Published Date-->
                        <div class="col-sm-2">
                            <date> 
                                {{ post.published_date }}
                            </date>
                        </div>
                    </div>
                    <!--Question text-->
                    <div class="row">
                        <a href="{% url 'question_detail' pk=post.pk %}" class="post-title">{{ post.title }}</a>
                        <p class="post-text">{{post.text|linebreaksbr}}</p>    
                    </div>
                    <!--Question Footer-->
                    <div class="row" style="padding: 4px; background: rgba(196, 196, 196, 0.22); margin-top:5px" >
                        <!--Like Button-->
                        <div class="col-sm-1 col-lg-1 col-xl-1">
                            <form action="{% url 'like_post_list' %}" method="POST">
                                {% csrf_token %}
                                    {% if user.is_authenticated %}
                                    <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-outline-primary btn-sm" >Like</button>
                                    {% else %}
                                    <strong>Like: </strong>
                                    {% endif %}
                                    <p style="display: inline; font-weight: bold;">{{post.total_likes}}</p>
                            </form>
                        </div>
                        <!--Disike Button-->
                        <div class="col-sm-1 col-lg-1 col-xl-1">
                            <form action="{% url 'dislike_post_list' %}" method="POST">
                                {% csrf_token %}
                                    {% if user.is_authenticated %}
                                    <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-outline-warning btn-sm" >Dislike</button>
                                    {% else %}
                                    <strong>Dislike: </strong>
                                    {% endif %}
                                    
                                    <p style="display: inline; font-weight: bold;">{{post.total_dislikes}}</p>
                            </form>
                        </div>
                        <!--Comment Button-->
                        <div class="col-sm-2 col-lg-2 col-xl-2">
                            {% if user.is_authenticated %}
                            <a class="btn btn-outline-secondary btn-sm"  href="{% url 'question_detail' pk=post.pk %}" role="button">Comment</a>
                            {% else %}
                            <strong>Comment:</strong>
                            {% endif %}
                            <p style="display: inline; font-weight: bold;">{{post.answers.count}}</p>
                        </div>
                        <div class="col-sm-8 col-lg-8 col-xl-8" style="display: flex; justify-content: flex-end">
                            {% for tag in post.tags.all  %}
                                   
                                    <a href="{% url 'question_tag_detail' tag=tag %}" type="button" class="btn btn-outline-dark btn-sm" style="margin-left:10px"> #{{tag}}</a>
                            {% endfor %}
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}