.main{
    margin-left: 100px;
    padding: 0px 5px;
}


/* navbar styling */
.block{
    padding:0px 10px;
    margin:5px 0px;
    text-align: center;
    bottom: -0.2px;
}

.navbar-nav a{
    font-family: 'Poppins' !important;
}

.brand{
    display: inline-block;
    line-height: 0.65em;
    margin:0px;
    padding:0px;
    font-family: 'Mogra';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    /* identical to box height, or 133% */
    color: #000000;
}

.brand_label{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* identical to box height, or 400% */
    display: inline-block;
    line-height: 0.1em;
    color: #000000;
    margin:0px;
 
}


/* Post Styling */

.post-list{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.264);
    margin-bottom: 10px;
    margin-top:10px;
    padding-top: 5px;
}



.post-title{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */

    letter-spacing: -0.01em;

    color: #000000;
    text-decoration: none;
    margin-bottom:5px;
    margin-top:5px;
}



.post-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */

    letter-spacing: -0.01em;

    color: #000000;

}

.post-author{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */

    letter-spacing: -0.01em;

    color: #000000;
    text-decoration: none;

}

date{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 16px */

    letter-spacing: -0.01em;

    color: #827D7D;
}

.post-footer{
    background: rgba(196, 196, 196, 0.22);
    float:left;
    margin-top: 10x;
}


.rating{
    float: left;
    width: auto;
    margin-left: 3em;
 }

