.lecture-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 20px */

    letter-spacing: -0.01em;

    color: #000000;
    text-decoration: none;
    margin-bottom:5px;
    margin-top:5px;
 }


