<div class="card" style="width: 18rem; float:left; margin: 10px">


    <ul class="list-group list-group-flush">
        <div class="row">

            <!--Profile Picture-->
            <div class="col-sm-3">
                <div class="d-flex flex-start align-items-center" style="margin:5px">
                    {% if course.userProfileImg %}

                        <img class="rounded-circle shadow-1-strong me-3"
                        src="{{course.userProfileImg.url}}" alt="avatar" width="60"
                        height="60" />

                    {% else %}
                        <img class="rounded-circle shadow-1-strong me-3"
                        src="http://cdn.onlinewebfonts.com/svg/img_24787.png" alt="avatar" width="60"
                        height="60" />

                    {% endif %}
                </div>
            </div>

            <!--Author name & Follow Link-->
            <div class="col-sm-9" style="display: flex;justify-content: center;align-items: center; ">
                {% if user.is_authenticated %}
                    {% if user == course.user %}
                        <a href="{% url 'user_profile' %}" class="post-author" style="font-family: 'Poppins';font-size:18px; font-weight: 600px; margin-right:5px">{{course.user}}</a>
                    {% else %}
                        <a href="{% url 'other_user_profile' name=course.user %}" class="post-author" style="font-family: 'Poppins';font-size:18px; font-weight: 600px; margin-right:5px">{{course.user}}</a>
                    {% endif %}
                    
                        <a href="#" class="link-success" style="font-family: 'Poppins';font-style: normal;font-weight: 800;font-size: 16px;">Follow</a>
                {% endif %}
            </div>            
        </div>
    </ul>

    <!--Course Image-->
    <img src="{{course.img.url}}" class="card-img-top" >


   

    <!--Course Explanation-->
    <div class="card-body ">
        <a href="{% url 'course_detail' title=course.title %}" class="post-title">{{ course.title }}</a>
        {% if course.enrolled_users.count > 2 %}
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA2klEQVRIie2UPQrCQBCFPyVo4Q3ERstcwcIjSU5grqPHMP41YuU9TKVBlthMID+TNUtSiOTBwPJm5r0ZBhZ6dIwjELk0eI4GEyB17GmMORADD3k74dvqntSkEgfs21f0IsAAG8BXGsKceBahUucLb4B9ObnLNd+l0AeWwFsxMMAKWABr2SrLbbW1AkUkBZIa3pYLMtFhzuCsuQKjGt6WO2nkGHhapm0aL9GqbJAAN8u0TXEVrYoBwKUDg4JG2aDuDi6wakxpf4NZB0P+EAYK1/a3LGiWj9zjD/EB2nZh39k6c8MAAAAASUVORK5CYII="/>
        {% elif course.averagereview > 4 %}
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABM0lEQVRIieXTQStEURjG8Z/SUMaCfBMbpSxmo9jaWMhWStbYicVkqyx8EdmQDWUjK6WmpCgrTXaMsZhzM6Zz7twZlPLU0+2+3ft/n/ftHP67BjCNHRzjEc9Y+i54CGu4RTPip+/A53GXAGd+6Df1YRdw5qNe4RM4i4A2MILNjvp2L/BxXCeSlsM3ox31qaLwMi4S8GZIXsZWW+1G63QltYL3HGg3r+bBl9HI+Tm188w1lFLwBbx1SZfaeTNMPZuX/r7A+LGdZz7Ig8M+Xgs0iflEzmpi2vM5djf4ldZRLqxh1AO8In7BMp9jrBc4zIWfL8N7JWeScgzQrsFIbSY8S6HJpPTFeSmaul2nvqasoyo+QV+qhSZVrXUNh3onfLffBillR7iB9Z+G07onT1j8Dfjf1Qf3orrfQhu7EQAAAABJRU5ErkJggg=="/>
        {% endif %}
        
        {% if select == 'home' %}
            <p class="card-text">{{course.description|truncatechars:150|safe}}</p>
        {% else %}
            <p class="card-text">{{course.description|safe}}</p>
        {% endif %}

    </div>

    <!--Course Detail-->

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Resources: {{course.lecture.count}} | Quiz: {{course.question_list.count}} | Case-Study: {{course.case_list.count}}</li>
            <li class="list-group-item">Rating: {{course.averagereview |floatformat:'2' }}/5</li>
            <li class="list-group-item">Enrolled Users: {{course.enrolled_users.count}}</li>
            {% if select == 'course' %}
            <li class="list-group-item">
                <form class="form-inline" method='POST' action="{% url 'course_rate' title=course.title %}">
                    {% csrf_token %}
                        <span class="star-rating">
                            <input type="radio" name="rating" value="1"><i>1</i>
                            <input type="radio" name="rating" value="2"><i>2</i>
                            <input type="radio" name="rating" value="3"><i>3</i>
                            <input type="radio" name="rating" value="4"><i>4</i>
                            <input type="radio" name="rating" value="5"><i>5</i>
                        </span>
                        <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Rate</button>
                        <span style="font-family:'Poppins'; opacity:0.8">{{course.averagereview|floatformat:'2' }}/5</span>        
                </form>
            </li>
            {% endif %}
        </ul>


    <!--Course Tag-->
    <div class="card-body">
        {% for tag in course.tags.all  %}
            <a href="{% url 'course_tag_detail' tag=tag %}" type="button" class="btn btn-outline-dark btn-sm" style="margin-left:10px"> #{{tag}}</a>
        {% endfor %}
    </div>
</div>