<div class="container d-flex justify-content-center align-items-center">

    <div class="card">
        <div> <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid"> </div>
        <div class="user text-center">
            
            <div class="profile"> 
            {% if not user_profile.img%}
                <img src="http://cdn.onlinewebfonts.com/svg/img_24787.png" width="120"> </div>
            {% else %}
                <img src="{{user_profile.img.url}}" width="120"> </div>
            {% endif %}

            {% if user != user_profile.user %}
                {% if not user in user_profile.followers.all %}
                    <a class="btn btn-outline-success mt-3" href="{% url 'other_user_profile' name=user_profile.user %}?name=follow" role="button">Follow</a>
                {% else %}
                    <a class="btn btn-outline-danger mt-3" href="{% url 'other_user_profile' name=user_profile.user %}?name=unfollow" role="button">Unfollow</a>
                {% endif %}
            {% endif %}
        </div>

          

        <div class="mt-2 text-center">
            <h4 class="mb-0">{{user_profile.user}}</h4> 
            <span class="text-muted d-block mb-2">{{user_profile.bio|safe}}</span> 
            <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                <div class="stats">
                    <h6 class="mb-0">Followers|</h6> <span>{{user_profile.followers.count}}</span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Spaces|</h6> <span>{{courses.all.count}}</span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Questions</h6> <span>{{question.count}}</span>
                </div>
            </div>
        </div>
    </div>
</div>